.listaQuizContainer {
  overflow: auto;
}

.card {
  background: #ffffff;
  width: 1000px;
  border-radius: 12px;
  padding: 18px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin: 5px;
}

.card p {
  margin: 4px 0;
  font-size: 15px;
  color: #444;
}

.card strong {
  color: #000;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #357ac8;
}

.btnDelete {
  background: #e74c3c;
}

.btnDelete:hover {
  background: #c0392b;
}

.perguntas {
  margin-top: 10px;
  padding-left: 20px;
}
