.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(3px);
}

/* Scrollbar estilizada */
.modal::-webkit-scrollbar {
  width: 12px;
}
.modal::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  border-radius: 10px;
}
.modal::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* Animação suave */
@keyframes popup {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
  