* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  all: unset;         
  cursor: pointer;       
  display: inline-block;  
}

.containerPrincipal {
  height: 100vh;
  width: 100%;
  background-image: url("/images/BackgroundInicio.jpeg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnLogin,
.btnCadastro {
    height: 10vh;
    transition: 0.2s;
}

.btnCadastro:hover {
  scale: 1.05;
}

.btnLogin:hover{
  scale: 1.05;
}


.botoesContainer {
  display: flex;
  gap: 10px;
}

.tituloGuri {
  display: block;
  margin: 0 auto;     
  padding-bottom: 1.875rem;
  border: 0;
  max-width: 65%;      
  height:18vh;
  padding-bottom: 1.8rem;
}

.tituloPequeno{
  display: block;
  margin: 0 auto;     
  padding-bottom: 3.125rem;
  border: 0;
  max-width: 40%;      
  padding-bottom: 1.8rem;   
}
@media (max-width: 768px) {

  .containerPrincipal {
    gap: 0.5rem;
  }

  .tituloGuri {
    max-width: 80%;
    padding-bottom: 1rem;
  }

  .tituloPequeno {
    max-width: 55%;
    padding-bottom: 1rem;
  }

  .btnLogin,
  .btnCadastro {
    height: 70px;
  }
  .botoesContainer {
  gap: 5px;
}
.botao{
  padding: 5px;
}
}


/* Celulares pequenos */
@media (max-width: 480px) {

  .containerPrincipal {
    gap: 1rem;
    padding: 1rem;
  }

  .tituloGuri {
    max-width: 85vw;
    padding-bottom: 0.8rem;
  }

  .tituloPequeno {
    max-width: 65vw;
    padding-bottom: 0.8rem;
  }

  .btnLogin,
  .btnCadastro {
    height: 60px;
  }
  .botao{
    padding: 3px;
  }
}

.guri {
  position: absolute;
  top: 34.5vh;
  left: 10vw;
}