.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/BackgroundInicio.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    image-rendering: pixelated;
}

.botao{
    width: 12vw;
    min-height: 55px;
    max-height: 70px;
    max-width: 180px;
}

.botao:hover {
    scale: 1.05;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

.bloco {
    background-color: #ff9545;
    border: 8px solid #932600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 50vh;
    min-width: 600px;
    min-height: 470px;
}

.title {
    color: white;
    text-align: center;
    font-size: 45px;
    padding-top: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.field label {
    font-size: 25px;
    color: white;
}

.field input {
    border: 2px solid #932600;
    background-color: #fe8c35;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    font-size: 20px;
}

.field input::placeholder {
    color: #932600;
}
@media (max-width: 768px) {

  .bloco {
    min-width: 80%;
    min-height: 60%;
  }

  .title {
    font-size: 35px;
  }

  .field input {
    width: 100%;
    font-size: 18px;
  }

  .botao {
    width: 25vw;      /* largura proporcional e menor */
    max-width: 110px; /* impede de ficar muito grande */
    height: 45px;
    padding: 0;
  }


  .actions{
    padding: 0;
    gap: 5px;
  }
    .field label {
    font-size: 22px;
  }

  .field input {
    padding: 9px;
    font-size: 18px;
  }

}

/* Celulares */
@media (max-width: 480px) {

  .bloco {
    min-width: 90%;
    padding: 20px 20px;
    border-width: 6px;
  }

  .title {
    font-size: 35px;
  }

  .field label {
    font-size: 20px;
  }

  .field input {
    padding: 8px;
    font-size: 16px;
  }

  .actions {
    margin-top: 40px;
  }

  .botao {
    height: 55px;
    padding: 0;
    margin: 0;
  }
}