.container {
  background-image: url("/images/backgroundAnoitecer.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela-cadastro-pergunta {
  background-color: #9cdbff;
  border: 7px solid #2a2d74;
  border-radius: 30px;
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tela-cadastro-pergunta__title {
  color: #2a2d74;
  background-color: white;
  border: 7px solid #2a2d74;
  border-radius: 30px;
  font-weight: 100;
  padding: 20px;
  font-size: 70px;
}

.tela-cadastro-pergunta__select {
  background-color: white;
  color: #2a2d74;
  border: 5px solid #2a2d74;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
  width: 300px;
  height: 70px;
  text-align: center;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tela-cadastro-pergunta__input { 
  background-color: white;
  color: #2a2d74;
  border: 5px solid #2a2d74;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
  width: 300px;
  height: 70px;
  text-align: center;
}

.tela-cadastro-pergunta__input input::placeholder {
  color: #2a2d74;
  opacity: 1;
}

.tela-cadastro-pergunta__button--alternativas {
  background-color: white;
  color: #2a2d74;
  border: 5px solid #2a2d74;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
  width: 280px;
  height: 50px;
  text-align: center;
}

.tela-cadastro-pergunta__form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
}

.tela-cadastro-pergunta__exit-button {
  height: 70px;
  position: absolute;
  top: 85px;
  left: 170px;
}

.tela-cadastro-pergunta__btn-cadastrar-pergunta{
  height: 100px;
}

.tela-cadastro-pergunta__btn-criar-com-ia {
  height: 100px;
}

.tela-cadastro-pergunta__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}


/* MODAL ALTERNATIVAS -------------------------------------- */
.alternativas {
  position: fixed;
  z-index: 999999;
  background-color: white;
  border: 7px solid #2a2d74;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  min-width: 40%;
  border-radius: 20px;
  padding: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ModalConfirmar {
  background-color: #2c7ef4;
  color: #2a2d74;
  border: 2px solid #2a2d74;
  border-radius: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
  margin: 10px;
  transition: 0.2s;
}

.ModalConfirmar:hover {
  scale: 1.05;
  color: white;
}

.alternativas h3 {
  color: #2a2d74;
  font-size: 40px;
}

.tipoAlternativa {
  height: 50px;
}

.alternativas button {
  padding: 0;
}

.alternativas input {
  padding: 15px;
  width: 30vw;
  font-family: Arial;
  border-radius: 10px;
}

.alternativa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* --------------------------------------------------------- */
