# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignora todas as variações do .env
.env
.env.local
.env.development
.env.production
.env.test
.env.staging

# Ignora também arquivos com valores específicos
.env.*.local

# Exceto um exemplo (opcional)
!.env.example
