.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/backgroundTarde.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    image-rendering: pixelated;
}

.telaMenuBtnExit {
    height: 80px; /* Ajuste se necessário */
    position: absolute;
    top: 10px;
    left: 10px;
}

img {
    transition: 0.2s;
}

img:hover {
    scale: 1.05;
}

.telaMenuTitle {
    height: 100px;
}


.telaMenuMenu {
    background-color: #bfebf4;
    border: 7px solid #2a2d74;
    border-radius: 30px;
    height: 89vh;
    width: 80%;
    padding: 15px;
}

.telaMenuMain {
    background-color: #ffff;
    border: 7px solid #2a2d74;
    border-radius: 30px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 77vw;
}

.telaMenuControls button {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    flex-direction: column;
}

.telaMenuOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.telaMenuHeader {
    position: relative;
    display: flex;
    height: 30vh;
    align-items: center;
}

.telaMenuHeader h1 {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.telaMenuHeader button {
    position: absolute;
    left: 0; 
    top: 20%;
    transform: translateY(-50%);
}


.telaMenuBtnOption {
    height: 100px;
}

.telaMenuBtnPlay {
    height: 100px;
}


.botoesJogar{
    width: 77vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.pixelButton {
  width: 224px;        /* ajuste até ficar perfeito com os da imagem */
  height: 72px;        /* altura igual para todos */
  display: flex;
  justify-content: center;
  align-items: center;
     background: #3d3c80 !important; 

  color: rgb(255, 255, 255);
  font-family: "Press Start 2P", monospace;
  font-size: 34px;

  border: none;
  cursor: pointer;
  text-align: center;

  image-rendering: pixelated;
  border: 4px solid black;
  box-shadow:
    0px 4px 0px #000,
    0px -4px 0px #000,
    4px 0px 0px #000,
    -4px 0px 0px #000;

  border-radius: 8px;
  transition: 0.1s;
}

/* efeito ao clicar */
.pixelButton:active {
  transform: translateY(3px);
  box-shadow:
    0px 2px 0px #000,
    0px -2px 0px #000,
    2px 0px 0px #000,
    -2px 0px 0px #000;
}
.link {
    text-decoration: none !important;
}
.link:visited,
.link:active,
.link:focus {
    text-decoration: none !important;
}
