.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/backgroundTarde.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    image-rendering: pixelated;
}

.telaMenuBtnExit {
    height: 80px; /* Ajuste se necessário */
}

img {
    transition: 0.2s;
}

img:hover {
    scale: 1.05;
}

.telaMenuTitle {
    height: 100px;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Remova se não necessário */
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
}

.linkExit { 
    width: 80px; /* Ajuste para o tamanho da imagem */
    height: 80px; /* Ajuste para o tamanho da imagem */
}

.linkOption { 
    width: 130px; /* Ajuste para o tamanho da imagem */
    height: 90px; /* Ajuste para o tamanho da imagem */
}

.linkPlay { 
    width: 150px; /* Ajuste para o tamanho da imagem */
    height: 120px; /* Ajuste para o tamanho da imagem */
}

.telaMenuBtnExit,
.telaMenuBtnOption,
.telaMenuBtnPlay {
    width: 100%; /* Faz a imagem ocupar todo o espaço do link */
    height: 100%; /* Faz a imagem ocupar todo o espaço do link */
    display: block; /* Garante que a imagem seja um bloco */
}

.telaMenuMenu {
    background-color: #bfebf4;
    border: 7px solid #2a2d74;
    border-radius: 30px;
    height: 89vh;
    width: 80%;
    padding: 15px;
}

.telaMenuMain {
    background-color: #ffff;
    border: 7px solid #2a2d74;
    border-radius: 30px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.telaMenuControls button {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    flex-direction: column;
}

.telaMenuOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.telaMenuPlay {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.telaMenuHeader {
    position: relative;
    display: flex;
    height: 30vh;
    align-items: center;
}

.telaMenuHeader h1 {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.telaMenuHeader button {
    position: absolute;
    left: 0; 
    top: 20%;
    transform: translateY(-50%);
}



