.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/backgroundTarde.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    image-rendering: pixelated;
}

.telaMenuBtnExit {
    height: 80px;
}

.telaMenuTitle {
    height: 100px;
}

.telaMenuBtnOption {
    max-width: 50%;
}

.telaMenuBtnPlay {
    width: 25%;
}

.telaMenuMenu {
    background-color: #bfebf4;
    border: 7px solid #2a2d74;
    border-radius: 30px;
    height: 89vh;
    width: 80%;
    padding: 15px   ;
}

.telaMenuMain {
    background-color: #ffff;
    border: 7px solid #2a2d74;
    border-radius: 30px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.telaMenuControls button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telaMenuOptions {
    display: flex;
    justify-content: center;
}

.telaMenuPlay button{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.telaMenuHeader {
    position: relative;
    display: flex;
    height: 30vh;
    align-items: center;
}

.telaMenuHeader h1 {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.telaMenuHeader button {
    position: absolute;
    left: 0; 
    top: 20%;
    transform: translateY(-50%);
}   