.containerConfig {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/backgroundAnoitecer.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    image-rendering: pixelated;
}

.telaConfig {
    height: 80vh;
    width: 80vw;
    background-color:#9cdbff;
    border: 7px solid #2a2d74;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloConfig {
  color: #2a2d74;
  background-color: white;
  border: 7px solid #2a2d74;
  border-radius: 30px;
  font-weight: 100;
  padding: 30px;
  font-size: 50px;
  width: 76vw;
}

.materias {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #2a2d74;;
    border-radius: 20px;
}

.materias label {
    color: #2a2d74;
    padding: 4px;
}

.opcoesMateria {
    display: flex;
    flex-direction: column;
}

.btnJogar {
    height: 80px;
    margin-top: 30px;
}

.dificuldade {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #2a2d74;;
    border-radius: 20px;
    gap: 10px;
}

.dificuldade select {
    padding: 10px;
    border: 3px solid #2a2d74;
    border-radius: 10px;
}

.numeroPerguntas {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #2a2d74;;
    border-radius: 20px;
    gap: 10px;
}

.numeroPerguntas input{
    padding: 10px;
    border: 3px solid #2a2d74;
    border-radius: 10px;
}

.opcoes {
    display: flex;
    color: #2a2d74
}

.btnExit {
    position: absolute;
    top: 90px;      /* ajuste para mover mais para cima ou para baixo */
    left: 180px;     /* ajuste para mover mais para a esquerda ou direita */

    background-color: #2c7ef4;
    border: 3px solid #2a2d74;
    border-radius: 10px;
    color: #2a2d74;
    padding: 15px;
    transition: 0.2s;
}

.btnExit:hover {
    scale: 1.05;
}