.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/images/BackgroundInicio.jpeg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  image-rendering: pixelated;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.tituloGuri {
  display: block;
  margin: 0 auto;     
  padding-bottom: 30px;
  border: 0;
  max-width: 60%;      
  height: auto;       
}

.tituloPequeno{
  display: block;
  margin: 0 auto;     
  padding-bottom: 50px;
  border: 0;
  max-width: 30%;      
  height: auto;     
}

.btnStart {
    height: 100px;
    transition: 0.2s;
}

.btnStart:hover{
  scale: 1.05;
}

.iconeJogador {
    height: 50px;
}

.jogador {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
}

.jogador:hover{
  scale: 1.05;
}

.botoesContainer {
  display: flex;
  justify-content: center;
}

.telaStartHeader {
  position: absolute; /* fica preso dentro do container */
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  z-index: 10; /* garante que fica acima do fundo */
}

.modalLogout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(3px);
  
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

/* Caixa branca */
.modalBox {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  animation: popup 0.25s ease;
}

/* Nome */
.modalNick {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Linha dos botões */
.modalButtons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.modalButtons button {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
}

/* Botão sair */
.btnSair {
  background: #e63946;
  color: white;
}

.btnSair:hover {
  background: #c82333;
}

/* Botão cancelar */
.btnCancelar {
  background: #ddd;
}

.btnCancelar:hover {
  background: #c6c6c6;
}


/* Animação */
@keyframes popup {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
