@font-face {
    font-family: 'minecraft';
    src: url('../Fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'minecraft';
  }
  