@font-face {
    font-family: 'retropix';
    src: url('../Fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'retropix';  
  }